// http://ionicframework.com/docs/theming/

.center {
  text-align: center;
  align-items: center;
}

super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.icon-only ion-icon {
  line-height: -8px; 
}

super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button ion-icon {
  font-size: 38px;
}

.label-md {
   margin: 3px 8px 3px 0; 
}

.card-md{
  border-radius: 20px;
}

ion-app.md [padding] {
  padding: 1px;
}

.card-md {
  background-color: white;
}

.card-header-md {
  padding: 1px; 
}
.hcs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message_footer{
  background-color: gold;
  width: 100%;
  padding-bottom: 1%;
}