<ion-content no-padding>
  <ion-fab bottom right light>
      <button ion-fab color="day" size="small">
        <ion-icon name="add"></ion-icon>
      </button>
      <ion-fab-list side="top"> 
        <button (click)="gotoSlider(1)" ion-fab #Activity><ion-icon src="assets/img/actions.svg"></ion-icon></button>
        <button (click)="gotoSlider(2)" ion-fab #Program><ion-icon src="assets/img/addprogram.svg"></ion-icon></button>
        <button (click)="gotoSlider(2)" ion-fab #Enrichment><ion-icon name="filing"></ion-icon></button>
        <button (click)="gotoSlider(2)" ion-fab #Lesson><ion-icon name="clipboard"></ion-icon></button>
        <button (click)="gotoSlider(2)" ion-fab #Assessment><ion-icon name="star"></ion-icon></button>
        <button (click)="gotoSlider(2)" ion-fab #Attendance><ion-icon name="checkbox-outline"></ion-icon></button>
        <button (click)="gotoSlider(2)" ion-fab #Schedule ><ion-icon src="assets/img/calendar.svg"></ion-icon></button>
      </ion-fab-list> 
    </ion-fab>
    <ion-list #chatList>
  <ion-card *ngFor="let message of news.messages ; let i = index;" >
    <ion-card-content *ngIf="message.mine" >
      <ion-card-header >
        <div class="hcs">
            <ion-label text-left><ion-icon name="clock"></ion-icon>&nbsp;{{message.time | date:'hh:mm:ss'}}</ion-label>
          <ion-label text-right text-wrap class="textLabelMessageDetailTitle">{{message.title}}</ion-label>  
          <ion-avatar slot="end">
            <div *ngIf="message.img != null"><img src="{{message.img}}" style="width:30px;height:30px;"></div>
            <div *ngIf="message.img == null"><img src="assets/img/defaultAvatar.jpg" style="width:30px;height:30px;"></div>
          </ion-avatar> 
        </div>
      </ion-card-header>
      <ion-label text-left text-wrap class="textLabelMessageDetailContent">{{ message.content}}</ion-label>
    </ion-card-content>
    <ion-card-content *ngIf="!message.mine">
      <ion-card-header >
        <div class="hcs">
          <ion-avatar slot="start">
              <div *ngIf="message.img != null"><img src="{{message.img}}" style="width:30px;height:30px;"></div>
              <div *ngIf="message.img == null"><img src="assets/img/defaultAvatar.jpg" style="width:30px;height:30px;"></div>
          </ion-avatar> 
          <ion-label padding text-left text-wrap class="textLabelMessageDetailTitle"> {{message.title}}</ion-label>  
          <ion-label text-right class=""><ion-icon name="clock"></ion-icon>&nbsp;{{message.time | date:'hh:mm:ss'}}</ion-label>
        </div>
      </ion-card-header>
      <ion-label text-left text-wrap class="textLabelMessageDetailContent">{{message.content}}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-list>
</ion-content>
<ion-footer no-shadow no-padding>
    <ion-toolbar position="bottom">
      <ion-grid no-padding>
        <ion-row class="message_footer">
          <ion-col col-10>
            <ion-item start no-lines>
              <ion-textarea clearOnEdit="true" [(ngModel)]="msg" autofocus="true" rows="1" placeholder="Enter more post here..."></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col col-1 >
            <ion-item end no-lines no-padding>
              <button (click)="presentPopover($event)" ion-button item-right>
                <ion-icon name="attach" size="small" ></ion-icon>
              </button>
            </ion-item>
          </ion-col>
          <ion-col col-1 text-right>
            <ion-item end no-lines no-padding>
              <button (click)="sendChat()" ion-button item-right>
                  <ion-icon name="send" size="small" ></ion-icon>
              </button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
